/* Add a black background color to the top navigation */
.topnav {
  background-color: #303841;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:courier;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

h3 {
  font-family:courier;
  color: #d5af7e; 
  padding: 0 25px;
}

p {
  font-family:verdana; 
  color:white; 
  padding: 0 30px;
}